<!DOCTYPE html>
<html>
<head>
    <title>BioSyncBasic - Gestão de Registos de Saúde</title>
</head>
<body>
    <h1>Bem-vindo ao BioSyncBasic</h1>
    <p>Uma aplicação para gestão de registos de pressão arterial e frequência cardíaca.</p>

    <div>
        <h2>Login</h2>
        <a href="{% url 'utente_login' %}">Login Utente</a>
        <a href="{% url 'medico_login' %}">Login Médico</a>
    </div>

    <div>
        <h2>Sobre Nós</h2>
        <p>O BioSyncBasic foi desenvolvido para facilitar o acompanhamento da sua saúde...</p>
    </div>

    <div>
        <h2>Contacto</h2>
        <p>Para mais informações, contacte-nos através do email...</p>
    </div>
</body>
</html>